<br/><br/>

<div class="container">
  <ul>
    <li> <a href="/main_page">Account</a> </li>
    <li> <a>Courses</a> </li>
    <li> <a href="/login_page" (click)="logout()">Logout</a> </li>
  </ul>
</div>

<div>
  <h2>Your Courses List</h2>
  <table>
    <tr>
      <th>No</th>
      <th>Course</th>
      <th>Operations</th>
    </tr>
    <tr class="all-courses" *ngFor="let course of userCourses; let i = index">
      <td>{{i + 1}}</td>
      <td style="cursor: pointer"(click)="showAssignment(course)" >{{course}}</td>
      <td><button mat-raised-button (click)="deleteCourse(course)">Delete Course</button></td>
    </tr>
  </table>
</div>

<br/>

<h2>Create a new Course</h2>
<table>
  <tr>
    <th>Course Name</th>
    <th>Password</th>
    <th>Operation</th>
  </tr>
  <tr>
    <td><input type="text" [(ngModel)]="newCourse.name"></td>
    <td><input type="text" [(ngModel)]="newCourse.password"></td>
    <td>
      <button mat-raised-button (click)="addCourse()">Create</button>
    </td>
  </tr>
</table>

<br/>

<div style="display:none" class="table-teacher-assignment">
  <h2>Welcome to the {{courseNameSelected}} course</h2>
<table>
  <tr>
    <th>Assignment Date</th>
    <th>Course Name</th>
    <th>Teacher</th>
    <th>Assignment Type</th>
    <th>Description</th>
    <th>Operations</th>
  </tr>
  <tr *ngFor="let assignment of assignmentList; let i = index">
    <td>{{assignment.date}}</td>
    <td>{{assignment.name}}</td>
    <td>{{assignment.teacher}}</td>
    <td>{{assignment.type}}</td>
    <input type="text" [(ngModel)]="assignment.description">
    <td>
      <button mat-raised-button (click)="editAssignment(assignment)">Edit Assignment</button>
      <button mat-raised-button (click)="deleteAssignment(assignment.name)">Delete Assignment</button>
    </td>
  </tr>
</table>

<h2>Add new Assignments to the {{courseNameSelected}} course</h2>
<table style="display:block" class="table-teacher-assignment">
  <tr>
    <th>Course Name</th>
    <th>Teacher Name</th>
    <th>Assignment Name</th>
    <th>Assignment Type</th>
    <th>Description</th>
    <th>Operations</th>
  </tr>
  <tr>
    <td>{{courseNameSelected}}</td>
    <td>{{cookieService.get('userLogged')}}</td>
    <td><input type="text" [(ngModel)]="newAssignment.name"></td>
    <td>
      <select [(ngModel)]="newAssignment.type">
        <option value='0'>lesson</option>
        <option value='1'>exercise</option>
        <option value='2'>news</option>
      </select>
    </td>
    <td><input type="text" [(ngModel)]="newAssignment.description"></td>
    <td>
      <button mat-raised-button (click)="addAssignment()">Create</button>
    </td>
  </tr>
</table>
</div>

