ul
{
  list-style:none;
  padding:13px;
  background-color:#1976d2;
  display:inline-block;
  border-radius:10px 10px 10px 10px;
  margin-bottom:0px;
}

li
{
  display:inline-block;
  margin-left:10px;
  margin-right:10px;
  color:orange;
  font-weight: bold;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}


